.content-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: #ffdfa3;
}

.about-container {
  margin: 70px;
}

.image-text-container {
  display: flex;
  justify-content: space-between;
  gap: 10px
}

#who-are-we {
  display: flex;
  justify-content: center;
}

.about-image {
  width: 60%;
}

.about-text {
  margin: 0px;
  font-size: 20px;
}

@media (max-width: 767px) {
  .image-text-container {
    flex-direction: column;
  }

  #who-are-we {
    background-color: #b01010;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  }
}