.content-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: #ffdfa3;
}

.about-container {
  margin: 70px;
}

.image-text-container {
  display: flex;
  justify-content: space-between;
  gap: 10px
}

.about-image {
  width: 60%;
}

.about-text {
  margin: 0px;
  font-size: 20px;
}