.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: space-between; */
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0px;
  z-index: 0;
}

nav {
  background-image: url("assets/360_F_135878937_sLm07yCbXbyef1K32kHbZvIsZEX2zoMh.jpg");
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  align-items: center;
}

.nav-link {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav-link-buy-tickets {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav-link-mobile {
  text-decoration: none;
  font-size: 20px;
  padding: 30px;
  background-color: #b20101;
  width: 60%;
  text-align: center;
}

.top-bar-mobile {
  display: none;
  cursor: pointer;
}

.sidebar {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: blanchedalmond;
  z-index: 999999;
  display: none;
}

.close-button {
  border-radius: 1000px;
  padding: 10px;
  background-color: #b20101;
  color: white;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 2%;
  cursor: pointer;
}

.text {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.black-text {
  color: rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 767px) {
  .nav-link {
    display: none;
  }

  .hero-text {
    font-size: 70px;
  }

  svg {
    display: block;
  }

  .top-bar-mobile {
    display: block;
  }
}