.content-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: #ffdfa3;
}

.hero-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.overlay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60%
}

.overlay-image-container {
  position: relative;
  height: 100vh;
}

.text-container {
  text-align: center;
}

.presents-text {
  font-weight: normal;
}

.hero-text {
  padding: 10px;
  background-color: #b20101;
  border-radius: 10px;
  font-size: 80px;
  font-weight: normal;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0px;
}

.glow {
  text-shadow: #ffcc00 1px 0 10px;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 130px;
  background-image: url("assets/line-rose-alicer1.png");
  background-size: 60%;
  position: absolute;
  top: calc(100vh - 70px);
  z-index: 99999;
  background-repeat: repeat-x;
}

/* .divider-img {
  width: 80%;
  position: absolute;
  top: -104px;
  z-index: 9999;
} */

.summary-container {
  margin: 70px;
}

.image-text-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.summary-image {
  width: 60%;
}

.summary-text {
  margin: 0px;
  font-size: 20px;
  color: black;
}

.ticket-button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: max-content;
}

.button-img {
  width: 275px;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-wrap: nowrap;
}

@media (max-width: 767px) {
  .image-text-container {
    flex-direction: column;
  }

  .nav-link {
    display: none;
  }

  .hero-text {
    font-size: 70px;
  }

  svg {
    display: block;
  }

  .top-bar-mobile {
    display: block;
  }
}